<%= erb :"common/header" %>

        <h1>This account type has been updated</h1>

        <p><a href="/admin" id="adm">Go To Admin Page</a></p>
        <p></p>
        <p><a href="/password_reset" id="adm">Go To Password Reset Page</a></p>

<%= erb :"common/footer" %>