<html>
<head>
    <title>A Simple View</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
  <table class="ba"  width="100%"  border="0">
  <tbody  heigth="100">
     <tr>
     <td width="42%"><img id="ta1" src="logo.png" width="150" height="150" alt=""/></td>
	 <td><h>title</h></td>
     </tr>
  </tbody>
  </table>
  <center>
     <br><br>
     <form id="form1" name="form1" method="post">
         E-mail&nbsp; &nbsp; &nbsp;
         <input type="email" name="Email"><br><br><br><br><br>
         username<input type="text" name="username"><br><br><br><br><br>
         password<input type="password" name="password"><br><br><br>
         <input type="submit" value="create" style="width:200px;height:30px;">
     </form>
  </center>
</body>
</html>