<%= erb :"common/header" %>

        <h1>This post has been deleted</h1>

        <p><a href="/moderator" id="mod">Go Back To Moderator Page</a></p>
        <p><a href="/viewer" id="view">Go To Viewer Page</a></p>


   <%= erb :"common/footer" %>