<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acme | viewer</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <header>
        <div class="logo">
            <h>ACME</h>
        </div>
    </header>
    <main>

        <h1>This post has been deleted</h1>

        <p><a href="/moderator" id="mod">Go Back To Moderator Page</a></p>
        <p><a href="/viewer" id="view">Go To Viewer Page</a></p>


    </main>
</body>

</html>