<%= erb :"common/header" %>

        <h1>Forgot Password</h1>

        <p><a href="/login" id="mod">Go Back To Login Page</a></p>

        <p>Before we can assign you a new temporary password, please enter your username:</p>

        <formid="form1" name="form1" method="post">
          <p>Username:</p><input type = "text" name = "username">
          <input type="submit" value="Submit" id="submit">
        </form>


    <%= erb :"common/footer" %>