<html>
  <head>
    <title>GET Form Example</title>
    <link rel="stylesheet" href="styles/styles.css">    
  </head>
  <body>
    <table class="ba"  width="100%"  border="0">
    <tbody  heigth="100">
      <tr>
      <td width="42%"><img id="ta1" src="logo.png" width="150" height="150" alt=""/></td>
	    <td><h>title</h></td>
      </tr>
    </tbody>
    </table>
    <center>
    	<br><br>
      <form id="form1" name="form1" method="post">
        username<input type="text" name="username"><br><br><br>
        password&nbsp;<input type="password" name="password"><br><br>
        <input type="submit" value="login" width="150" style="width:240px;height:30px;">
      </form>
      <a href="create_account.html">create account</a>
    </center>
  </body>
</html>