<%= erb :"common/header" %>

  <h1>Your request has been sent!</h1>
  <p>One of our admins will be in touch with a new temporary password soon</p>

  <p><a href="/login" id="mod">Go Back To Login Page</a></p>

<%= erb :"common/footer" %>