<html>
<head>
  head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acme | viewer</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
   <header>

        <nav class="navbar">
            <div class="logo">
                <figure>
                    <img src="" alt="Acme" width="140">
                </figure>
            </div>
            <ul class="nav_menu">
                <li>
                    <a href="home.html" id="home">Home</a>
                </li>
                <li>
                    <a href="create_post.html" id="create_post">create_post</a>
                </li>
                <li>
                    <a href="admin.html" id="Admin">Admin</a>
                </li>
                <li>
                    <a href="moderator.html" id="moderator">moderator</a>
                </li>
                <li>
                    <a href="viewer.html" id="viewer">viewer</a>
                </li>
                <li>
                    <a href="profile.html" id="profile">profile</a>
                </li>
                <li>
                    <a href="login.html" id="login">log out</a>
                </li>

            </ul>
        </nav>

    </header>
    <main>
    <p></p>
    </main>
     <footer>
        <p class="copyright">© com1001 Group34, 2021-22</p>
        <p>Please note: This is a fictitious website and all the information written is completely fabricated.</p>
    </footer>
</body>
</html>