</main>
     <footer>
        <p class="copyright">© com1001 Group34, 2021-22</p>
        <p>Please note: This is a fictitious website and all the information written is completely fabricated.</p>
    </footer>
</body>
</html>